.container {
  display: flex;
  flex-direction: row;
}

.search-bar-container {
  flex: 100;
}

.saved-recipe-container {
  flex: 100;
}

.recommended-songs-container {
  flex: 100;
}

header {
  display: flex;
  flex-direction: row;
}

.title {
  margin-right: 3%;
}

.divider {
  flex: 1;
  background-color: black;
}
